//newstyle1: cssfile[drupal-block_style1] scriptfile[]
//newstyle1: cssfile[block-features_style1] scriptfile[]

// block + block-html + block-features
+b.block.block-html.block-features
    +e.content
        include ./features/card-features-teaser-1
// КОНЕЦ: block + block-html + block-features
