//include: cssfile[filter-btn] scriptfile[filter-btn]

// filter-btn
.filter-btn
    a.btn.btn-primary.btn_icon-left(href="javascript://")
        i.fas.fa-filter
        | Фильтр по характеристикам
// КОНЕЦ: filter-btn
