//newstyle1: cssfile[graph-catalog_style1] scriptfile[]
// graph-catalog
+b.block.graph-catalog.block-menu.block-html
    +e.content
        include ../../img/icons-svg/graph-cat.svg
        a(href='/data-parts.html') Графические каталоги запчастей

// КОНЕЦ: graph-catalog
