//newstyle1: cssfile[drupal-user-profile_style1] scriptfile[]

// user-profile (css)
+b.user-profile
    a(href='/user/1' hreflang='ru')
        img(src='img/temp/user-profile/01.jpg' alt='')
    .form-item
        h4.label Зарегистрирован на сайте
        |  1 год 11 месяцев
// КОНЕЦ: user-profile (css)
