//newstyle1: cssfile[menu-main_style1] scriptfile[]

+b.menu.menu-main.UL
    +e.item
        a(href='/delivery' data-drupal-link-system-path='node/69' class="is__active") Поставщикам
    +e.item
         a(href='/oplata-i-skidki' data-drupal-link-system-path='node/87') Новости
    +e.item
         a(href='/about' data-drupal-link-system-path='node/77') Статьи
    +e.item
         a(href='/contacts' data-drupal-link-system-path='node/79') Компании
