$icons: (
	  sprite: (width: 189px, height: 167px, svgPath: '../../img/sprite.svg'),
 	about: (width: 12px, height: 13px, backgroundX: -144px, backgroundY: 0px),
 	arrow-right-menu: (width: 14px, height: 6px, backgroundX: 0px, backgroundY: -108px),
 	arrow-right-menu-hover: (width: 14px, height: 6px, backgroundX: -24px, backgroundY: -108px),
 	axis: (width: 13px, height: 13px, backgroundX: 0px, backgroundY: -124px),
 	axis-w: (width: 13px, height: 13px, backgroundX: -23px, backgroundY: -124px),
 	bigmail: (width: 30px, height: 24px, backgroundX: 0px, backgroundY: -43px),
 	btn-cart: (width: 13px, height: 13px, backgroundX: -46px, backgroundY: -124px),
 	cart-big: (width: 21px, height: 21px, backgroundX: 0px, backgroundY: -77px),
 	cart-blue: (width: 27px, height: 27px, backgroundX: -82px, backgroundY: 0px),
 	cart-vsm: (width: 13px, height: 13px, backgroundX: -69px, backgroundY: -124px),
 	cart-white: (width: 13px, height: 13px, backgroundX: -92px, backgroundY: -124px),
 	cart-white-2121: (width: 21px, height: 21px, backgroundX: -31px, backgroundY: -77px),
 	chevron: (width: 6px, height: 10px, backgroundX: -166px, backgroundY: -125px),
 	chevron-b-down: (width: 10px, height: 7px, backgroundX: -144px, backgroundY: -92px),
 	chevron-g: (width: 6px, height: 10px, backgroundX: 0px, backgroundY: -147px),
 	chevron-pg: (width: 9px, height: 13px, backgroundX: -144px, backgroundY: -23px),
 	chevron-pgw: (width: 9px, height: 13px, backgroundX: -144px, backgroundY: -46px),
 	chevron-w: (width: 9px, height: 13px, backgroundX: -144px, backgroundY: -69px),
 	contacts: (width: 15px, height: 13px, backgroundX: -119px, backgroundY: 0px),
 	credit-card: (width: 15px, height: 13px, backgroundX: -119px, backgroundY: -23px),
 	delivery: (width: 18px, height: 13px, backgroundX: -62px, backgroundY: -77px),
 	dot: (width: 3px, height: 3px, backgroundX: -48px, backgroundY: -108px),
 	dotnew: (width: 3px, height: 3px, backgroundX: -61px, backgroundY: -108px),
 	file: (width: 18px, height: 11px, backgroundX: -90px, backgroundY: -77px),
 	frst: (width: 13px, height: 13px, backgroundX: -115px, backgroundY: -124px),
 	frst-w: (width: 13px, height: 13px, backgroundX: -138px, backgroundY: -124px),
 	graph-cat: (width: 31px, height: 33px, backgroundX: 0px, backgroundY: 0px),
 	graph-cat-w: (width: 31px, height: 33px, backgroundX: -41px, backgroundY: 0px),
 	hd-cat: (width: 15px, height: 15px, backgroundX: -119px, backgroundY: -46px),
 	mail: (width: 12px, height: 8px, backgroundX: -166px, backgroundY: -23px),
 	mail-blue: (width: 30px, height: 24px, backgroundX: -40px, backgroundY: -43px),
 	mail-white: (width: 12px, height: 8px, backgroundX: -166px, backgroundY: -41px),
 	minus: (width: 8px, height: 2px, backgroundX: -144px, backgroundY: -109px),
 	phone: (width: 12px, height: 12px, backgroundX: -166px, backgroundY: -59px),
 	phone-blue: (width: 24px, height: 24px, backgroundX: -82px, backgroundY: -37px),
 	phone-white: (width: 12px, height: 12px, backgroundX: -166px, backgroundY: -81px),
 	plus: (width: 8px, height: 8px, backgroundX: -16px, backgroundY: -147px),
 	pointer-white: (width: 8px, height: 12px, backgroundX: -166px, backgroundY: -103px),
 	quanity: (width: 15px, height: 15px, backgroundX: -119px, backgroundY: -71px),
 	viber: (width: 13px, height: 13px, backgroundX: -166px, backgroundY: 0px),
);
