//newstyle1: cssfile[footer_1_style1] scriptfile[]

// footer
footer
    .top
        .container
            .col_1
                h3 Получайте самые интересные предложения первыми!
                //include ../../footer-logo/footer-logo
                //include ../../footer-slogan/footer-slogan
            .col_2
                include ../../../footer/footer-form/footer-form
            .col_3
                include ../../../menu/menu-footer-clients/menu-footer-clients



    .bottom
        .container
            .copyright © - «ГРУЗДЕТАЛИ.BIZ», 2020 Все права защищены
            .social
                .social_text ГРУЗДЕТАЛИ.BIZ в соцсетях
                .social_icons
                    a(href="#")
                        //include ../../../../img/icons-svg/icon-vc.svg
                    a(href="#")
                        //include ../../../../img/icons-svg/icon-fb.svg
                    a(href="#")
                        //include ../../../../img/icons-svg/icon-youtube.svg
                    a(href="#")
                        //include ../../../../img/icons-svg/icon-insta.svg
// КОНЕЦ: footer
