//newstyle1: cssfile[catalog_style1] scriptfile[]

// content-catalog
+b.content.content-catalog
    +e.content
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node
            include ../component/node/node-product/teaser-node

.ajax-progress.ajax-progress-throbber(style="display: none;")
    .throbber &nbsp;
// КОНЕЦ: content-catalog
