//newstyle1: cssfile[catalog_style1] scriptfile[]

// content-catalog-list
+b.content.content-catalog
    +e.content
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
        include ../component/node/node-product/teaser-node-list
.ajax-progress.ajax-progress-throbber(style="display: none;")
    .throbber &nbsp;
// КОНЕЦ: content-catalog-list
