//newstyle1: cssfile[fields_style1] scriptfile[]


// fields field-type-string field-seller
.field.field-type-string.field-seller.field-label-hidden
	.value «АвтоЗапчасти Урал»
// КОНЕЦ: fields field-type-string field-seller