// field.field-type-custom.field-applicability
.field.field-type-custom.field-applicability
    .label Применяется:
    .value УРАЛ-4320-31, УРАЛ-4320-41, УРАЛ-43203-10, УРАЛ-43206-41, УРАЛ-532301, УРАЛ-5557-40
// КОНЕЦ: field.field-type-custom.field-applicability
