//newstyle1: cssfile[fields_style1] scriptfile[]

// .field.field-type-string.field-field-short-body.field-label-hidden
.field.field-type-string.field-field-short-body.field-label-hidden
		.label Характеристики оригинальной запчасти:
		.value
			table.table-custom
					tr
						td
							| Ширина
						td
							| 0.03 м
					tr
						td
							| Длина
						td
							| 0.28 м
					tr
						td
							| Высота
						td
							| 0.03 м
					tr
						td
							| Вес
						td
							| 0.48 кг


// КОНЕЦ: .field.field-type-string.field-field-short-body.field-label-hidden
