//newstyle1: cssfile[fields_style1] scriptfile[]


// .field.field-type-integer.field-field-price.field-label-hidden
.field.field-type-integer.field-field-price.field-label-hidden
        .value 363
            span.suffix.rouble ₽
// КОНЕЦ: .field.field-type-integer.field-field-price.field-label-hidden
