//newstyle1: cssfile[fields_style1] scriptfile[]

// field-quanity
.field.field-type-string.field-quanity.field-label-hidden
    .label В наличии
    .value
        span 1
        span.suffix шт в наличии
// КОНЕЦ: field-quanity
