//newstyle1: cssfile[fields_style1] scriptfile[]


// fields field-type-string field-cat-number
.field.field-type-string.field-cat-number.field-label-hidden
	.value
		a(href='#') 740.1011240-10
// КОНЕЦ: fields field-type-string field-cat-number