//newstyle1: cssfile[fields_style1] scriptfile[]

// fields
.field.field-type-data.field-field-applicability.field-label-hidden
	.values
		.value
				.data-parts-chassis УРАЛ-4320-80М/82М
				.data-parts-category
					a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек
		.value
					
						.data-parts-chassis УРАЛ-4320-80М/82М
						.data-parts-category
							a(href="#") Кузов / Капот, крылья, облицовка радиатора (оперение) / Установка подножек

// КОНЕЦ: fields
