//newstyle1: cssfile[fields_style1] scriptfile[]

// field.field-type-boolean.field-field-offers.field-label-hidden
.field.field-type-boolean.field-field-offers.field-label-hidden
	.value -3%
// КОНЕЦ: field.field-type-boolean.field-field-offers.field-label-hidden
