//newstyle1: cssfile[fields_style1] scriptfile[]

// fields field-type-string field-cat-number
.field.field-type-string.field-cat-number.field-label-inline
	.label Артикул:
	.value
		span
			A(href='#') 840.1014576-10
// КОНЕЦ: fields field-type-string field-cat-number