//newstyle1: cssfile[fields_style1] scriptfile[]


// fields field-type-string field-delivery
.field.field-type-string.field-delivery.field-label-hidden
	.value
		span.prefix ≈
		| 5
		span.suffix дней доставка из Москвы
// КОНЕЦ: fields field-type-string field-delivery