//newstyle1: cssfile[fields_style1] scriptfile[]

// fields
.field.field-type-image.field-image-thumbnails.field-label-hidden
    .values
        .value
            a(href='javascript://')
                img(src='img/unit/card-unit/small/img-1.png',loading="lazy",srcset="img/unit/card-unit/small/img-1.png 1024w, img/unit/card-unit/small/img-1.png 1200w")
        .value
            a(href='javascript://')
                img(src='img/unit/card-unit/small/img-2.png',loading="lazy",srcset="img/unit/card-unit/small/img-2.png 1024w, img/unit/card-unit/small/img-2.png 1200w")
        .value
            a(href='javascript://')
                img(src='img/unit/card-unit/small/img-3.png',loading="lazy",srcset="img/unit/card-unit/small/img-3.png 1024w, img/unit/card-unit/small/img-3.png 1200w")
        .value
            a(href='javascript://')
                img(src='img/unit/card-unit/small/img-4.png',loading="lazy",srcset="img/unit/card-unit/small/img-4.png 1024w, img/unit/card-unit/small/img-4.png 1200w")

// КОНЕЦ: fields
