
// field.field-type-custom.field-text-short-desc
.field.field-type-custom.field-qty-providers.field-label-hidden
    .value 10
        span.suffix предложений от поставщиков

// КОНЕЦ: field.field-type-custom.field-text-short-desc
