//newstyle1: cssfile[fields_style1] scriptfile[]

// fields
.field.field-type-string.field-field-properties.field-label-hidden
	.value
		h4 Описание
		p
			| Продажа оригинальной запчасти 5340.1130552 Датчик (синий) давления и температуры (0261230112) (650.1130540) оптом и в розницу
		h4 Стандартный не нумерованный список
		ul
			li Пункт 1
			li
				| Пункт 2 - он будет в несколько строчек, поэтому сюда вставлен посторонний текст: аккумуляторы заряжаются от электрической сети с напряжением 380
			li Пункт 3
		h4 Стандартный нумерованный список
		ol
			li Пункт 1
			li
				| Пункт 2 - он будет в несколько строчек, поэтому сюда вставлен посторонний текст: аккумуляторы заряжаются от электрической сети с напряжением 380
			li Пункт 3


// КОНЕЦ: fields
