//newstyle1: cssfile[fields_style1] scriptfile[]

// field.field-type-image.field-image
.field.field-type-image.field-image
    .value
            a(href='#')
                img(src='img/page-product-item/img-5.png',loading="lazy",srcset="img/temp/card-unit-teaser-1_style1/01.jpg 1024w, img/temp/card-unit-teaser-1_style1/01.jpg 1200w")

// КОНЕЦ: field.field-type-image.field-image
