//newstyle1: cssfile[fields_style1] scriptfile[]

// field.field-type-image.field-image
.field.field-type-image.field-field-image
    .value
            a(href='#')
                img(src='img/oil/oil.png')

// КОНЕЦ: field.field-type-image.field-image

