//newstyle1: cssfile[fields_style1] scriptfile[]

// .field.field-type-integer.field-field-price-old.field-label-hidden
.field.field-type-integer.field-field-price-old.field-label-hidden
    .value 1 680 000
        span.suffix.rouble ₽
// КОНЕЦ: .field.field-type-integer.field-field-price-old.field-label-hidden
