//newstyle1: cssfile[fields_style1] scriptfile[]

// fields
.field.field-type-image.field-field-images.field-label-hidden
    .values
        .value
            a(href='#')
                img(src='img/temp/unit/mainimage.jpg',loading="lazy")


// КОНЕЦ: fields
