//newstyle1: cssfile[fields_style1] scriptfile[]

// fields field-type-string field-title
.field.field-type-string.field-title.field-label-hidden
	.value
		a(href="#") Mуфта серии 710 в сборе с вент
// КОНЕЦ: fields field-type-string field-title
