//newstyle1: cssfile[fields_style1] scriptfile[]

// fields field-type-string field-title
.field.field-type-string.field-title.field-label-hidden
	.value
		a(href="#") Картер ЯМЗ-650.10 маховика АВТОДИЗЕЛЬ
// КОНЕЦ: fields field-type-string field-title
