
// field.field-type-custom.field-text-short-desc
.field.field-type-custom.field-text-short-desc
    .label Характеристики оригинальной запчасти:
    .value
        table
            tr
                td Длина
                td 1.24cm
            tr
                td Ширина
                td 3,636 см
            tr
                td Высота
                td 0.36 cm
            tr
                td Вес
                td 0.473 кг
            tr
                td Объем
                td 0.473 м.кв
// КОНЕЦ: field.field-type-custom.field-text-short-desc
