//newstyle1: cssfile[mobile-burger_style1] scriptfile[mobile-burger_common]

// mobile-burger (css, js)
.mobile-burger.icon-menu
	//span.line
	//span.line
	//span.line
// КОНЕЦ: mobile-burger (css, js)
