//newstyle1: cssfile[block-banner-bottom_style1] scriptfile[]

.block.block-html.block-banner-bottom
    .block__content
        img(srcset='img/slider/sl1-small.jpg 480w, img/slider/sl1.jpg 800w' sizes='(max-width: 767px) 480px, 800px' src='img/slider/sl1.jpg' alt='' class="image")

        //img(src="img/slider/sl1.jpg" class="image")
        //img(src="img/slider/sl1.jpg" class="image")