// cart-complete
+b.cart-complete.margin
    +e.col-1
        +e.title Ваш заказ успешно оформлен!
        +e.number
            | Номер заказа:
            span №327
        +e.help
            | Узнать статус вашего заказа 
            br
            | вы можете по телефону:
        +e.phone
            a(href="tel:88002226690") 8-800-222-66-90
    +e.col-2
        +e.text В течение рабочего дня мы обработаем ваш заказ и отправим вам коммерческое предложение
        +e.text Подробная информация о заказе отправлена на указанную вами электронную почту
// КОНЕЦ: cart-complete
