
//newstyle1: cssfile[block-providers-icons_style1] scriptfile[block-providers-icons_style1]

// block + block-html + block-providers-icons
+b.block.block-html.block-providers-icons
    +e.header
        +e.H2.title Поставщики запчастей Урал
    +e.content
        .block__slider
            .block__slider-wrapper
                img(src="img/postavshiki/postavshiki.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki1.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki2.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki3.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki4.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki5.png" alt="" class="img-postav")
                img(src="img/postavshiki/postavshiki5.png" alt="" class="img-postav")
        include ../../arrows/arrows
// КОНЕЦ: block + block-html + block-providers-icons
