p Разноцветные <a href="javascript://">почтовые ящики</a> способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Разноцветные <a href="javascript://">почтовые ящики</a> способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
h2 H2 OpenSans 24px
p Разноцветные <a href="javascript://">почтовые ящики</a> способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Окраску для ваших <strong>  абонентской ячейки можно выбрать</strong> из палитры RAL. Будь то ящик почтовый <b>зеленый или малиновый</b>. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
h3 H3 OpenSans 20px
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
h4 h4 OpenSans
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
h5 h5 OpenSans
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
h6 h6 OpenSans
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
ul
    li Габариты: 370 × 380 × 180 мм
    li Толщина стали: 0,6 мм
    li Покрытие: полимерно-порошковое
    li Наличие замка: есть
    li Кол-во ключей: по 2 шт. для каждой секции
p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
ol
    li Габариты: 370 × 380 × 180 мм
    li Толщина стали: 0,6 мм
    li Покрытие: полимерно-порошковое
    li Наличие замка: есть
    li Кол-во ключей: по 2 шт. для каждой секции




//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-short
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-short-active
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-active
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-hd
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-hd-active
//div(style="margin-bottom: 10px;")
//    include ../../../fav/fav-remove
//
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-short
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-short-active
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-active
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-hd
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-hd-active
//div(style="margin-bottom: 10px;")
//    include ../../../cmp/cmp-remove

include ../drupal/drupal-pager/drupal-pager
h2 Buttons
a.btn Button
a.btn.btn-primary Button
a.btn.btn-secondary Button
a.btn.btn-icon.btn-icon-cart Button
a.btn.btn-icon.btn-icon-search Button
a.btn.btn-primary.btn-icon.btn-icon-hamburger Button
a.btn.btn-primary.btn-icon.btn-icon-hamburger.btn-icon-only Button
a.btn.btn-icon.btn-small Button


h4 Дефолтная таблица
p С возможностью указания бордера через атрибут border="1" у тега table.
//p Из-за широкого распространения таблиц в сторонних виджетах, таких как календари и «напоминалки», мы сделали так, что таблицы подключаются по согласию пользователя. Просто добавьте базовый класс .table в любой таблице, затем расширьте стилизацию за счет наших обычных классов, либо классов-модификаторов.
//p Вот так таблицы, основанные на классе .table, выглядят в базовой разметке таблиц в Bootstrap. Все стили таблиц в BS4 наследуются, что означает, что вложенные таблицы будут стилизованы как родительские.
table(border="1", colpadding="0", colspacing="0")
    thead
        tr
            th #
            th Имя
            th Фамилия
            th Username
    tbody
        tr
            th 1
            td Mark
            td Otto
            td @mdo
        tr
            th 2
            td Jacob
            td Thornton
            td @fat
        tr
            th 3
            td Larry
            td the Bird
            td @twitter

h4 Таблица Зёбра (.table-striped)
table.table-striped(border="1", colpadding="0", colspacing="0")
    thead
        tr
            th #
            th Имя
            th Фамилия
            th Username
    tbody
        tr
            th 1
            td Mark
            td Otto
            td @mdo
        tr
            th 2
            td Jacob
            td Thornton
            td @fat
        tr
            th 3
            td Larry
            td the Bird
            td @twitter
        tr
            th 1
            td Mark
            td Otto
            td @mdo
        tr
            th 2
            td Jacob
            td Thornton
            td @fat
        tr
            th 3
            td Larry
            td the Bird
            td @twitter

h4 Таблица nostyle без отступов, без бордеров, без фонов (.table-nostyle)
table.table-nostyle(border="1", colpadding="0", colspacing="0")
    thead
        tr
            th #
            th Имя
            th Фамилия
            th Username
    tbody
        tr
            th 1
            td Mark
            td Otto
            td @mdo
        tr
            th 2
            td Jacob
            td Thornton
            td @fat
        tr
            th 3
            td(colspan='2') Larry the Bird
            td @twitter

h4 Адаптивная таблица из 2х колонок (.table-mobile)
table.table-mobile(border="1", colpadding="0", colspacing="0")
    thead
        tr
            th заголовок шапки таблицы
            th заголовок шапки таблицы
    tbody
        tr
            td Mark
            td Otto
        tr
            td Jacob
            td Thornton

h3 Уведомления
include ../drupal/drupal-message/drupal-message-status
include ../drupal/drupal-message/drupal-message-warning
include ../drupal/drupal-message/drupal-message-error

h3 Вкладки друпала
include ../drupal/drupal-tabs/drupal-tabs

h3 Чекбокс
div
    input#qqq.checkbox(name='qqq' type='checkbox')
    label(for='qqq') Урал
div
    input#qqq.checkbox(name='qqq' type='checkbox')
    label(for='qqq') Камаз

h3 Радио кнопки
div
    input#www1.radio(name='www' type='radio')
    label(for='www1') Урал
div
    input#www2.radio(name='www' type='radio')
    label(for='www2') Камаз
//include ../../../gallery/gallery
// КОНЕЦ: card + card-page + card-page-full