//newstyle1: cssfile[mobile-header_style1] scriptfile[mobile-header_common]

// mobile-header (css, js)
+b.mobile-header
    +e.inner
        include ../mobile-burger/mobile-burger
        +e.cont
            include ../mobile-logo/mobile-logo
        include ../mobile-phone-btn/mobile-phone-btn
        include ../mobile-search-btn/mobile-search-btn
include ../mobile-panel/mobile-panel
// КОНЕЦ: mobile-header (css, js)
