//newstyle1: cssfile[block-tabs_style1] scriptfile[block-tabs_style1]

+b.menu.menu-level-0.UL
    +e.item
        a(href='javascript://' class="active")
            span.icon.icon-file-done
            span Заказы
    +e.item
        a(href='javascript://')
            span.icon.icon-profile
            span Ассортимент
    +e.item
        a(href='javascript://')
            span.icon.icon-download
            span Автозагрузка
    +e.item
        a(href='javascript://')
            span.icon.icon-bell
            span Уведомления
    +e.item
        a(href='javascript://')
            span.icon.icon-setting
            span Настройки
    +e.item
        a(href='javascript://')
            span.icon.icon-import
            span Выйти