+b.menu.menu-level-0.UL
    +e.item.collapsed.menu__item-48.active-trail
        a(href='javascript://' class="is__active")
            span ЯМЗ-236 (V6)
        +b.menu.menu-level-1.UL
            +e.item.collapsed.menu__item-37
                a(href='javascript://' class="is__active")
                    span Седельные тягачи
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Бортовые автомобили
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Спецтехника с КМУ
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Крано — манипуляторные установки
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Автоцистерны и топливозаправщики
            +e.item.collapsed.menu__item-42
                a(href='javascript://')
                    span Нефтегазодобывающая техника
            +e.item.collapsed.menu__item-43
                a(href='javascript://')
                    span Автофургоны и передвижные мастерские
            +e.item.collapsed.menu__item-44
                a(href='javascript://')
                    span Вахтовые автобусы и грузопассажирские автомобили
            +e.item.menu__item-45
                a(href='javascript://')
                    span Самосвалы
            +e.item.collapsed.menu__item-46
                a(href='javascript://')
                    span Автокраны
            +e.item.collapsed.menu__item-47
                a(href='javascript://')
                    span Прицепная техника
            +e.item.collapsed.menu__item-48.active-trail
                a(href='javascript://' class="is-active")
                    span Техника в наличии
                +b.menu.menu-level-2.UL
                    +e.item.menu__item-37
                        a(href='#' class="is-active")
                            span Седельные тягачи
                    +e.item.menu__item-38
                        a(href='javascript://')
                            span Бортовые автомобили
                    +e.item.menu__item-39
                        a(href='javascript://')
                            span Спецтехника с КМУ
                    +e.item.menu__item-40
                        a(href='javascript://')
                            span Крано — манипуляторные установки
                    +e.item.menu__item-41
                        a(href='javascript://')
                            span Автоцистерны и топливозаправщики
                    +e.item.menu__item-42
                        a(href='javascript://')
                            span Нефтегазодобывающая техника
                    +e.item.menu__item-43
                        a(href='javascript://')
                            span Автофургоны и передвижные мастерские
                    +e.item.menu__item-44
                        a(href='javascript://')
                            span Вахтовые автобусы и грузопассажирские автомобили
                    +e.item.menu__item-45
                        a(href='javascript://')
                            span Самосвалы
                    +e.item.menu__item-46
                        a(href='javascript://')
                            span Автокраны
                    +e.item.menu__item-47
                        a(href='javascript://')
                            span Прицепная техника
                    +e.item.menu__item-48
                        a(href='javascript://')
                            span Техника в наличии

    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ 7601 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-6565 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-238 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-6581 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-6585 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-7511 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-238 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-6581 (V6)
    +e.item.collapsed
        a(href='javascript://')
            span ЯМЗ-6585 (V6)