extends default

block variables
    - const title = "catalog-teasers";
    - const description = '';
    - const keywords = '';
    - const pageClass = 'no-front';

block styles
    +style("http://uralval.algus.net/libraries/jquery.intl-tel-input/build/css/intlTelInput.min.css")
    +style("https://unpkg.com/swiper/swiper-bundle.min.css")

block scripts
    +script("https://unpkg.com/swiper/swiper-bundle.min.js")

block content
    .wrapper
        .container
            include ../components/header/header/1/header_1
            .region.region-system
                .page-breadcrumbs-heading
                    include ../components/breadcrumb/breadcrumb
                    include ../components/mobile/mobile-breadcrumb/mobile-breadcrumb
            section.region.region-top
                include ../components/blocks/block-test/block-test
            main.is-sidebar
                h1 Гидроцилиндр Урал
                .region.region-content
                    include ../components/tags/tags
                    .content-page.content-page-product
                        .content-page__content
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                            include ../components/component/node/node-product/teaser-node-list
                        .content-page__footer
                            include ../components/drupal/drupal-pager/drupal-pager
                    include ../components/blocks/block-banner-bottom/block-banner-bottom
                .region.region-content-bottom
                    include ../components/blocks/block-recently-viewed/block-recently-viewed
                .region.region-sidebar
                    include ../components/aside/aside
            section.region.region-botttom
                include ../components/blocks/block-test/block-test


        include ../components/footer/footer/1/footer
