extends default

block variables
    - const title = "Главная";
    - const description = '';
    - const keywords = '';
    - const pageClass = 'front';

block styles
    +style("http://uralval.algus.net/libraries/jquery.intl-tel-input/build/css/intlTelInput.min.css")
    +style("https://unpkg.com/swiper/swiper-bundle.min.css")

block scripts
    +script("https://unpkg.com/swiper/swiper-bundle.min.js")

block content
    .wrapper
        .container
            include ../components/header/header/1/header_1
            //.region.region-system
            //    .page-breadcrumbs-heading
            //        include ../components/breadcrumb/breadcrumb
            //        include ../components/mobile/mobile-breadcrumb/mobile-breadcrumb
            section
                include ../components/blocks/block-banner/block-banner
            main
                .region.region-content
                    include ../components/blocks/block-catalog/block-catalog
                    include ../components/blocks/block-consumables/block-consumables
                    include ../components/blocks/block-uzli/block-uzli
                    include ../components/blocks/block-providers-icons/block-providers-icons
                    //include ../components/tempPages/text

        include ../components/footer/footer/1/footer
