+b.menu.menu-footer-about-us.footer__menu
    +e.UL.list
        +e.item
            +e.A.link(href='#') О «Название компании»
        +e.item
            +e.A.link(href='#') Сертификаты
        +e.item
            +e.A.link(href='#') Новости и акции
