//newstyle1: cssfile[tags_style1] scriptfile[tags_style1]

// tags (css)
+b.tags_instock
    +e.list
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#instock-12") Cамосвалы
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#instock-8") Подсамосвалы
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#instock-23") Не самосвалы
// КОНЕЦ: tags (css)
