//newstyle1: cssfile[tags_style1] scriptfile[]

// tags (css)
+b.tags
    +e.list
        +e.item
            a.btn-tag.btn-small.is-active(href="#") Урал 375
        +e.item
            a.btn-tag.btn-small(href="#") Урал 4320-0971-58
        +e.item
            a.btn-tag.btn-small(href="#") Урал 6370-1151
        +e.item
            a.btn-tag.btn-small(href="#") Урал 532301
        +e.item
            a.btn-tag.btn-small(href="#") Урал 375

// КОНЕЦ: tags (css)
