//newstyle1: cssfile[tags_style1] scriptfile[]

// tags (css)
+b.tags
    +e.list
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") Покупателям
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") Техническая информация
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") Прочая информация
// КОНЕЦ: tags (css)
