//newstyle1: cssfile[tags_style1] scriptfile[]

// tags (css)
+b.tags
    +e.list
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") События
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") Акции
        +e.item
            +e.link.btn.btn-outline-primary.btn-sm.A(href="#") Новинки
// КОНЕЦ: tags (css)
