// cart-popup-item
// пресет 72x70
+b.cart-popup-item
    +e.image
        a(href="#")
            img(src="img/temp/unit/72x70/01.png", alt="")
    +e.group
        +e.A(href="#")
            +e.article
                include ../article/article
                include ../lb-sale/lb-sale_2
            +e.title Блок цилиндров МАЗ,УРАЛ,КРАЗ (ОАО Автодизель) дв.ЯМЗ-7511, 7514, 238ДЕ2, 6582 (общая ГБЦ)
    +e.presence
        include ../presence/in_2
    +e.prices
        include ../prices/current
// КОНЕЦ: cart-popup-item
