//newstyle1: cssfile[block-catalog-group_style1] scriptfile[block-catalog-alphabet_style1]

// block-catalog-group
.block.block-html.block-catalog-group
    .block__content
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
        include ../../component/term/teaser-term-product-teaser-3
// block-catalog-group