.messages-wrapper.message-system
    .messages.messages--error(role="contentinfo", aria-label="Сообщение об ошибке")
        .messages__close Закрыть
        h2.visually-hidden Сообщение об ошибке
        | Это уведомление об ошибках