.messages-wrapper.message-system
    .messages.messages--error(role="contentinfo", aria-label="Сообщение об ошибке")
        .messages__close Закрыть
        h2.visually-hidden Сообщение об ошибке
        ul.messages__list
            li.messages__item Поле Телефон обязательно для заполнения.
            li.messages__item Поле E-mail обязательно для заполнения.