.messages-wrapper.message-system
    .messages.messages--status(role="contentinfo" aria-label="Статус")
        .messages__close Закрыть
        h2.visually-hidden Статус
        | Это уведомление об успехе
