@import "../../../styles/style1/helpers/helpers";

.hidden,
.visually-hidden {
    display: none;
}
.messages {
    padding: .75em 1.25em .75em 4em !important;
    margin: 1rem 0;
    border: 1px solid transparent !important;
    border-radius: .25rem !important;
    position: relative;
}
.messages + .messages {
  margin-top:1.538em;
}
.messages__list {
    margin: 0 !important;
    padding: 0 0 0 1rem !important;
}
.messages__item {
    margin-bottom: 0 !important;
    list-style: disc !important;
    &:before {
        display: none !important;
    }
}
.messages__item + .messages__item {
    margin-top: 0 !important;
}
.messages--status {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
    box-shadow: none !important;
    background-image: none !important;
    &:before {
        @include fontAwesome("\f058", 1.5em, 100);
        position: absolute;
        top: 0.5em;
        left: 1.25em;
    }
}
.messages--warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #efe0b2 !important;
    box-shadow: none !important;
    background-image: none !important;
    &:before {
        @include fontAwesome("\f06a", 1.5em, 100);
        position: absolute;
        top: 0.5em;
        left: 1.25em;
    }
}
.messages--error {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
    box-shadow: none !important;
    background-image: none !important;
    &:before {
        @include fontAwesome("\f5f2", 1.5em, 100);
        position: absolute;
        top: 0.5em;
        left: 1.125em;
    }
}
.messages__close {
    position: absolute;
    z-index: 1;
    top: 0.5em;
    right: 1.25em;
    width: 2em;
    height: 2em;
    text-indent: -999999px;
    cursor: pointer;
    opacity: .5;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 1em;
        height: 2px;
        margin: auto;
        transition: all 0.25s ease-in-out;
        background-color: #000;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover {
        opacity: 1;
    }
}
