//newstyle1: cssfile[block-catalog-visual_style1] scriptfile[]

//Начало block-catalog-visual
.block.block-html.block-catalog-visual
    .block__content
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
        include ../../component/term/teaser-term-product-teaser-5
//Конец block-catalog-visual