@import "../../../../../styles/style1/helpers/helpers";

.header-logo {
    img {
        object-fit: contain;
    }
}
.header-logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 !important;
}