@import "../../../../../styles/style1/helpers/helpers";

footer {
    @apply bg-color-2-bg text-color-2-n py-8 ;
    h3, h4, h5, h6 {
        @apply text-color-2-n;
        margin-top: 0;
    }
    .btn-primary {}
        display: block;
    a {
        @apply text-color-2-n;
        border-bottom: none;
        &:hover {
            @apply text-color-2-n-p;
        }
    }

    .top .container:after {
        content: '';
        height: 1px;
        width: 100%;
        background: #4D4D4D;
        display: block;
        position: absolute;

        bottom: 0;
    }
    .top .container {
        padding-bottom: 2rem;
        position: relative;
    }
    .top {
        .container {
            display: grid;
            grid-gap: 2rem;
            @include screen(768px, 991px) {
                grid-template-columns: 1fr 1fr;
            }
            @include min-screen(992px) {
                grid-template-columns: 1fr 1fr;
            }
        }
        .col_1 {
            h3 {
                margin: 0;
            }
        }
        .col_2 {
            .form-item {
                margin: 0;
            }
        }
        .col_3 {
            grid-column: 1/-1;
            .menu {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 1rem;
                @screen md {
                    grid-template-columns: repeat(4, auto);
                    max-width: max-content;

                }
                li {
                    margin: 0;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .bottom {
        padding-top: 1rem;
        .container {
            display: grid;
            grid-template: auto/1fr;
            gap: 1rem;
            @screen md {
                grid-template: auto/1fr auto;
            }
        }
    }
    .social {
        display: grid;

        @screen md {
            grid-template-columns: auto auto;
        }
        gap: 1rem;
        align-items: flex-end;
        a {
            border-bottom: 0;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .social_icons {
        display: flex;
    }
    .menu {
        .menu__item {
            display: flex;
            align-items: center;
        }
        .menu__item:before {
            //display: inline;
            //@include fontAwesome("\f054", 0.75em, 100);
            //margin-right: 0.75rem;
            //position: relative;
            //top: initial;
            //left: auto;
        }

            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }

        li {
            margin-left: 0;
            margin-bottom: 0.5rem;
            @include last(1) {
                margin-bottom: 0;
            }
        }
    }

    .footer__bottom {

        .footer__container {
            //border-top: 1px solid rgba($color-3-norma-light-thin, 0.2);
            padding: 1rem 0;
            display: grid;
            grid-gap: 8px;
            @include min-screen(1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    .copyright {
        align-self: flex-end;
    }
    .footer__privacy-policy {
        @include min-screen(1024px) {
            text-align: center;
        }
    }
    .footer-logo__link {
            svg {
                fill: currentColor;

        }
    }
    .footer-slogan {
        width: 70%;
    }
    .footer__algus {
        @include min-screen(1024px) {
            text-align: right;
        }
    }
}
