+b.UL.menu.menu-level-0
    +e.item
        +e.A.link(href='#') О портале
    +e.item
        +e.A.link(href='#') Реклама на сайте
    +e.item
        +e.A.link(href='#') Справка
    +e.item
        +e.A.link(href='#') Поддержка
