//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// .teaser teaser-term teaser-term-product-teaser-3
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-3
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog-icons/dvig.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Двигатель
    .field.field-type-custom.field-list.field-label-hidden
        .value
            ul.list.list-term.list-term-product
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания
                li.list-term-item-001(data-ico="", data-content="")
                    a(href="#") Система питания

// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-3
