//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/cabina.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Кабины
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/cardani-i-vali.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Карданные валы
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/kppp.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Коробки передач (КПП)
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/mosti.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Мосты
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/radiatori.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Радиаторы охлаждения

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/razdatki.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Раздаточные коробки

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/rami.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Рамы

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/reduktori.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Редукторы в сборе

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/ressori.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Редукторы в сборе

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1

// teaser teaser-term teaser-term-product-teaser-1
.teaser.teaser-term.teaser-term-product-teaser-1
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/uzli-i-agreagti/toplivnie.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Топливные баки

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-1