//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// .teaser teaser-term teaser-term-product-teaser-5
.teaser.teaser-term.teaser-term-product-teaser-5
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/visual-catalog/375.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") УРАЛ-375
    .field.field-type-string.field-body.field-label-hidden
       .value
            p Актуальность: 2010
            p Модификации: 375, 375Д, 377, 375С, 377С, 375А
// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-5
