@import "../../../styles/style1/helpers/helpers";

.teaser-term {
  .field {
    margin: 0;
  }

  .field-list {
    ul {
      display: grid;
      gap: 0.5rem;
      margin: 0;
      padding-left: 0;
      list-style: none;

      li {
        margin: 0;
        a {
          @apply text-color-1-n border-0 hover:text-color-1-m-primary;
        }
      }
    }
  }

  &.teaser-term-product-teaser-1 {

    display: block;
    @apply border border-color-1-n-mm p-4;

    .field-field-image {
      text-align: center;
      margin-bottom: 1rem;

      a {
        display: flex;
        border: none;

        img {
          margin: auto;
        }
      }
    }

    .field-title {
      text-align: center;

      a {
        font-weight: 600;

      }

    }

  }

  &.teaser-term-product-teaser-3 {

  }

  &.teaser-term-product-teaser-6 {
    display: grid;
    overflow: hidden;
    padding: 40px 48px 35px 0;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
    background: radial-gradient(37.8% 72.51% at 28.57% 58.08%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EFF4FF;


    .field-title {
      grid-column: -3/span 2;
      text-align: right;

      a {
        h3 {

          @include min-screen(992px) {
            font-size: 30px;
          }
        }


        &:hover {

        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          pointer-events: auto;
        }
      }
    }

    .field-body {
      grid-column: 1/-1;
      grid-row: 1/2;
      z-index: 1;
      justify-self: end;
      align-self: center;

      .value {
        font-size: 100px;
        @screen md {
          font-size: 110px;
        }
        @screen xl {
          font-size: 144px;
        }
        font-weight: 900;
        text-transform: uppercase;
        @apply text-color-1-n-mm-input;
      }
    }


    .field-field-image {
      grid-column: 1/-3;
      grid-row: 1/2;

      img {
        z-index: 2;
        position: relative;
        transition: all 300ms ease-in-out;

        &:hover {
          //transform: scale(1.1);
          //transition: all 300ms ease-in-out;
        }
      }
    }
  }
}
