//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// teaser teaser-term teaser-term-product-teaser-2
.teaser.teaser-term.teaser-term-product-teaser-2
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/rashodniki/oils.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Масла
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2

// teaser teaser-term teaser-term-product-teaser-2
.teaser.teaser-term.teaser-term-product-teaser-2
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/rashodniki/filters.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Фильтры
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2

.teaser-group
    // teaser teaser-term teaser-term-product-teaser-2
    .teaser.teaser-term.teaser-term-product-teaser-2
        .field.field-type-image.field-field-image
            .value
                a(href='#')
                    img(src='img/rashodniki/tires.png',loading="lazy")
        .field.field-type-string.field-title.field-label-hidden
            .value
                a(href="#")
                    h3 Шины
    // КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2

    // teaser teaser-term teaser-term-product-teaser-2
    .teaser.teaser-term.teaser-term-product-teaser-2
        .field.field-type-image.field-field-image
            .value
                a(href='#')
                    img(src='img/rashodniki/rims.png',loading="lazy")
        .field.field-type-string.field-title.field-label-hidden
            .value
                a(href="#")
                    h3 Диски
    // КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2
.teaser-group.teaser-group-100h
    // teaser teaser-term teaser-term-product-teaser-2
    .teaser.teaser-term.teaser-term-product-teaser-2
        .field.field-type-image.field-field-image
            .value
                a(href='#')
                    img(src='img/rashodniki/accumulators.png',loading="lazy")
        .field.field-type-string.field-title.field-label-hidden
            .value
                a(href="#")
                    h3 Аккумуляторы

    // КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2

// teaser teaser-term teaser-term-product-teaser-2
.teaser.teaser-term.teaser-term-product-teaser-2
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/rashodniki/brake-fluid.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Раздаточные коробки
// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2

// teaser teaser-term teaser-term-product-teaser-2
.teaser.teaser-term.teaser-term-product-teaser-2
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/rashodniki/cooling-fluid.png',loading="lazy")
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Охлаждающие жидкости

// КОНЕЦ:teaser teaser-term teaser-term-product-teaser-2