//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// teaser teaser-term teaser-term-product

.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/ural.png',loading="lazy")

    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти Урал
// КОНЕЦ:teaser teaser-term teaser-term-product

// teaser teaser-term teaser-term-product teaser-term-product-teaser-6
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/kamaz.png', alt='')

    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти Камаз
// КОНЕЦ: teaser teaser-term teaser-term-product teaser-term-product-teaser-6

// teaser teaser-term teaser-term-product
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/chtz.png', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти ЧТЗ
// КОНЕЦ: teaser teaser-term teaser-term-product

// teaser teaser-term teaser-term-product
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/maz.png', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти Маз

// КОНЕЦ: teaser teaser-term teaser-term-product

// teaser teaser-term teaser-term-product
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/iveco.png', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти Iveco

// КОНЕЦ: teaser teaser-term teaser-term-product teaser-term-product-teaser-6

// teaser teaser-term teaser-term-product teaser-term-product-teaser-6
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-6
    .field.field-type-image.field-field-image
        .value
            a(href='#')
                img(src='img/catalog/yamz.png', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h3 Запчасти ЯМЗ

// КОНЕЦ: teaser teaser-term teaser-term-product teaser-term-product-teaser-6
