//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// teaser teaser-term teaser-term-data-parts
.teaser.teaser-term.teaser-term-data-parts
    .field.field-type-image.field-image
        .value
            a(href='#')
                img(src='img/graph-catalog/kamaz.jpg',loading="lazy")

    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Графические каталоги зачпчастей КамАЗ

// КОНЕЦ:teaser teaser-term teaser-term-data-parts

// teaser teaser-term teaser-term-data-parts
.teaser.teaser-term.teaser-term-data-parts
    .field.field-type-image.field-image
        .value
            a(href='#')
                img(src='img/graph-catalog/ural.jpg', alt='')

    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Графические каталоги зачпчастей Урал
// КОНЕЦ: teaser teaser-term teaser-term-data-parts

// teaser teaser-term teaser-term-data-parts
.teaser.teaser-term.teaser-term-data-parts
    .field.field-type-image.field-image
        .value
            a(href='#')
                img(src='img/graph-catalog/chtz.jpg', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Графические каталоги зачпчастей ЧТЗ
// КОНЕЦ: teaser teaser-term teaser-term-data-parts

// teaser teaser-term teaser-term-data-parts
+b.teaser.teaser-term.teaser-term-data-parts
    .field.field-type-image.field-image
        .value
            a(href='#')
                img(src='img/graph-catalog/yamz.jpg', alt='')
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#") Графические каталоги зачпчастей ЯМЗ
// КОНЕЦ: teaser teaser-term teaser-term-data-parts
