//newstyle1: cssfile[teaser-term_style1] scriptfile[]
//newstyle1: cssfile[menu-catalog-group_style1] scriptfile[]

+b.menu.menu-catalog-group.menu-level-0.UL
    +e.item.menu__item-48
        a(href='javascript://')
            span Двигатель
        +b.menu.menu-level-1.UL
            +e.item.collapsed.menu__item-37
                a(href='javascript://')
                    span Система питания
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Система охлаждения
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Система выпуска газов
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Подвеска двигателя
    +e.item.menu__item-49
        a(href='javascript://')
            span Тормозная система
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Рабочий тормоз
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Стояночный тормоз
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Пневмогидравлический усилитель тормоза
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Воздушные баллоны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Тормозные барабаны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Трубопроводы и шланги
    +e.item.menu__item-50
        a(href='javascript://')
            span Инструмент и принадлежности
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Инструментальный ящик
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Набор инструмента
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Вспомогательный инструмент
    +e.item.menu__item-51
        a(href='javascript://')
            span Ремни, РТИ
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Ремни безопасности
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Ремни привода
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Ремкомплекты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Манжеты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Кольца
    +e.item.menu__item-48
        a(href='javascript://')
            span Двигатель
        +b.menu.menu-level-1.UL
            +e.item.collapsed.menu__item-37
                a(href='javascript://')
                    span Система питания
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Система охлаждения
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Система выпуска газов
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Подвеска двигателя
    +e.item.menu__item-49
        a(href='javascript://')
            span Тормозная система
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Рабочий тормоз
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Стояночный тормоз
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Пневмогидравлический усилитель тормоза
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Воздушные баллоны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Тормозные барабаны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Трубопроводы и шланги
    +e.item.menu__item-50
        a(href='javascript://')
            span Инструмент и принадлежности
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Инструментальный ящик
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Набор инструмента
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Вспомогательный инструмент
    +e.item.menu__item-51
        a(href='javascript://')
            span Ремни, РТИ
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Ремни безопасности
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Ремни привода
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Ремкомплекты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Манжеты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Кольца
    +e.item.menu__item-48
        a(href='javascript://')
            span Двигатель
        +b.menu.menu-level-1.UL
            +e.item.collapsed.menu__item-37
                a(href='javascript://')
                    span Система питания
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Система охлаждения
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Система выпуска газов
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Подвеска двигателя
    +e.item.menu__item-49
        a(href='javascript://')
            span Тормозная система
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Рабочий тормоз
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Стояночный тормоз
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Пневмогидравлический усилитель тормоза
            +e.item.collapsed.menu__item-40
                a(href='javascript://')
                    span Воздушные баллоны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Тормозные барабаны
            +e.item.collapsed.menu__item-41
                a(href='javascript://')
                    span Трубопроводы и шланги
    +e.item.menu__item-50
        a(href='javascript://')
            span Инструмент и принадлежности
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Инструментальный ящик
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Набор инструмента
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Вспомогательный инструмент
    +e.item.menu__item-51
        a(href='javascript://')
            span Ремни, РТИ
        +b.menu.menu-level-1.UL
            +e.item.menu__item-37
                a(href='javascript://')
                    span Ремни безопасности
            +e.item.collapsed.menu__item-38
                a(href='javascript://')
                    span Ремни привода
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Ремкомплекты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Манжеты
            +e.item.collapsed.menu__item-39
                a(href='javascript://')
                    span Кольца
