//newstyle1: cssfile[teaser-term_style1] scriptfile[]

// .teaser teaser-term teaser-term-product-teaser-4
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-4
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h2 А
    .field.field-type-custom.field-list.field-label-hidden
        ul.list.list-term.list-term-product
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Агрегат
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Адаптер
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Аккумулятор
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Аксессуары
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Аксессуары
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Система питания
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Аксессуары
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Аксессуары
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Система питания



// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-4

// .teaser teaser-term teaser-term-product-teaser-4
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-4
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h2 Ж
    .field.field-type-custom.field-list.field-label-hidden
        .values
            .value
                a(href="#") Жгут


// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-4

// .teaser teaser-term teaser-term-product-teaser-4
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-4
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h2 М
    .field.field-type-custom.field-list.field-label-hidden
        ul.list.list-term.list-term-product
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Маслоотражатель
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Маховик
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Мембрана (диафрагма)
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Металлорукав
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Механизм

// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-4

// .teaser teaser-term teaser-term-product-teaser-4
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-4
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h2 С
    .field.field-type-custom.field-list.field-label-hidden
        ul.list.list-term.list-term-product
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сайлентблок
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сальник (манжета)
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сапун
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сателлит
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Свеча
// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-4

// .teaser teaser-term teaser-term-product-teaser-4
.teaser.teaser-term.teaser-term-product.teaser-term-product-teaser-4
    .field.field-type-string.field-title.field-label-hidden
        .value
            a(href="#")
                h2 Ц
    .field.field-type-custom.field-list.field-label-hidden
        ul.list.list-term.list-term-product
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Цапфа
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Цилиндр
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Цилиндро-поршневая группа (ЦПГ)
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сателлит
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Свеча
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Сателлит
            li.list-term-item-001(data-ico="", data-content="")
                a(href="#") Свеча

// КОНЕЦ: teaser teaser-term teaser-term-product-teaser-4
