//newstyle1: cssfile[header-cart_style1] scriptfile[]

// header-cart
a.header-cart(href="/cart")
    .icon
        include ../../../../node_modules/@ant-design/icons-svg/inline-svg/outlined/shopping-cart.svg
    .info
        .name Корзина
        //.price
        //    | 1 000 000
        //    span.rub p
// КОНЕЦ: cart-block
