//newstyle1: cssfile[aside_style1] scriptfile[]

//aside

aside
        include ../menu/menu-aside/menu-aside
        //include ../graph-catalog/graph-catalog-aside_style1
        //include ../blocks/block-features/block-features-aside

// КОНЕЦ: footer