//newstyle1: cssfile[block-banner_style1] scriptfile[block-banner_style1]

.block.block-html.block-banner
    .block__content
        img(src="img/slider/sl2.jpg", class="image")
        img(src="img/slider/sl2.jpg", class="image")
        img(src="img/slider/sl2.jpg", class="image")