//newstyle1: cssfile[block-catalog-alphabet_style1] scriptfile[block-catalog-alphabet_style1]

// block-catalog-alphabet
.block.block-html.block-catalog-alphabet
    .block__content
        include ../../component/term/teaser-term-product-teaser-4
        include ../../component/term/teaser-term-product-teaser-4
        include ../../component/term/teaser-term-product-teaser-4


// block-catalog-group