//newstyle1: cssfile[card-features-teaser-1_style1] scriptfile[]

// card + card-features + card-features-teaser + card-features-teaser-1
+b.card.card-features.card-features-teaser.card-features-teaser-1
    +e.image
        img(src='img/icons/features-1.svg', alt='')
    +e.info
        +e.name Качество
        +e.body
            p Официальный дилер ЯМЗ, ЯЗДА, ШААЗ
// КОНЕЦ: card + card-features + card-features-teaser-1
+b.card.card-features.card-features-teaser.card-features-teaser-1
    +e.image
        img(src='img/icons/features-2.svg', alt='')
    +e.info
        +e.name Большой склад
        +e.body
            p Более 2000 наименований продукции в наличии
// КОНЕЦ: card + card-features + card-features-teaser-1
+b.card.card-features.card-features-teaser.card-features-teaser-1
    +e.image
        img(src='img/icons/features-3.svg', alt='')
    +e.info
        +e.name Гарантия
        +e.body
            p Гарантия качества завода-изготовителя
// КОНЕЦ: card + card-features + card-features-teaser-1
+b.card.card-features.card-features-teaser.card-features-teaser-1
    +e.image
        img(src='img/icons/features-4.svg', alt='')
    +e.info
        +e.name Скидки
        +e.body
            p Скидки на оптовые заказы до 15%
// КОНЕЦ: card + card-features + card-features-teaser-1
