//newstyle1: cssfile[breadcrumb_style1] scriptfile[]

// breadcrumb (css)
+b.breadcrumb
    +e.item.SPAN
        +e.link.A(href="#")
            span Главная
    +e.sep.SPAN /
    +e.item.SPAN
        +e.link.A(href="#")
            span Каталог запчастей
    +e.sep.SPAN /
    +e.item.SPAN
        +e.link.A(href="#")
            span Двигатель
    +e.sep.SPAN /
    +e.last.SPAN Крышка люка картера маховика
// КОНЕЦ: breadcrumb (css)
