//newstyle1: cssfile[block-uzli_style1] scriptfile[]

.block.block-html.block-uzli
    .block__header
        H2.title Крупные узлы и агрегаты
    .block__content
        include ../../component/term/teaser-term-product-teaser-1