
//newstyle1: cssfile[price-info_style1] scriptfile[]
// price-info
+b.price-info
    //+e.icon
    +e.updated
        +e.SPAN.bold Последнее обновление:
        +e.SPAN.time 16:50
        +e.SPAN 28.12.2018
    +e.info Цены на сайте носят информационный характер, актуальную стоимость запчастей уточняйте

// КОНЕЦ: price-info
