//newstyle1: cssfile[header_1_style1] scriptfile[]

// header
header
    .top
        include ../../../mobile/mobile-burger/mobile-burger
        include ../../header-logo/header-logo_1
        include ../../header-place/header-place
        include ../../../menu/menu-main/menu-main
    //.center
    //
    //    //include ../../header-phones/header-phones
    //    //include ../../header-send/header-send
    //
    .bottom
        include ../../../menu/menu-catalog/menu-catalog
        include ../../../search/search/search
        include ../../header-login/header-login
        include ../../header-cart/header-cart
        //include ../../../graph-catalog/graph-catalog_style1
        .hide

// КОНЕЦ: header
