.system-tabs
    ul
        li
            a(href="javascript://").is-active Просмотр
        li
            a(href="javascript://") Редактировать
        li
            a(href="javascript://") Удалить
        li
            a(href="javascript://") Редакции
        li
            a(href="javascript://") Devel
        li
            a(href="javascript://") Клонировать
