
//newstyle1: cssfile[block-recently-viewed_style1] scriptfile[block-recently-viewed_style1]

// block + block-html + block-recently-viewed
+b.block.block-html.block-recently-viewed
    +e.header
        +e.H2.title Вы недавно смотрели
    +e.content
        .block__slider
            .block__slider-wrapper
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
        include ../../arrows/arrows


// КОНЕЦ: block + block-html + block-recently-viewed
