//newstyle1: cssfile[block-test_style1] scriptfile[]

.block.block-html.block-test
    .block__header
        H2.title Текстовый блок
    .block__content
        p Стиральные машинки занимают огромную нишу на рынке бытовой техники. Сегодня производители готовы предложить покупателям широкий ассортимент различных моделей. Стиральные машины делятся на два основных типа: с фронтальной и вертикальной загрузкой. Основное преимущество машины с фронтальной загрузкой – возможность установки под мебель или, например, под раковину. Стиралка с вертикальной загрузкой может располагаться в любой нише, однако цена на такие модели несколько выше, чем на фронтальную. Стиральная машина может быть как узкой, так и полноразмерной. Основное преимущество первого типа – компактность, второго – возможность стирки большого объема вещей за раз. Многие торговые марки оснащают свои агрегаты дополнительными функциями сушки и самоочистки от накипи что существенно облегчает уход за стиральной машинкой. Цена на такие модели несколько выше, чем на обычные.
        p Интернет-магазин «Ситилинк» предоставляет широкий ассортимент стиральных машин, благодаря чему вы сможете купить то, что нужно именно вам. Мы гарантируем выгодные условия покупки, безупречный сервис и доступные цены. Доставка Ваших товаров осуществляется по Москве, Санкт-Петербургу, Казани, Нижнему Новгороду, Красноярску, Перми, Екатеринбургу, Уфе, Краснодару, Новосибирску, Ростову-на-Дону, Челябинску, Самаре и другим городам России.
