//newstyle1: cssfile[block-catalog_style1] scriptfile[]

.block.block-html.block-catalog
    .block__header
        H2.title Каталоги запчастей
    .block__content
        include ../../component/term/teaser-term-product