@import "../../../../styles/style1/helpers/helpers";

.header-send {
    @apply hidden lg:inline-flex items-center;

    .icon {
	align-self: center;

	&:before {
	    @include fontAwesome("\f0e0", 2em, 400);
	    grid-row: 1/3;
	    @apply text-color-1-m-secondary;
	    display: block;
	    align-self: center;
	    left: 0;
	    margin-right: 0.75rem;
	}
    }

    .info {
	display: flex;
	flex-flow: column;

	a {
	    line-height: 1.1;
	    display: inline;
	    border-bottom-color: transparent;

	}
    }
}
