@import "../../../styles/style1/helpers/helpers";

.tags {
    margin: 1.5rem 0;
    @apply col-span-10;

}
.tags__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 0.5rem;
}
.tags__item {
   // margin: 0.25rem;
    margin: 0.125rem;
    .btn-tag {
        font-weight: 400;
        @apply  px-4 bg-color-1-n-mm-input hover:bg-color-1-n-mm my-8 rounded-full;
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        &.is-active {
            @apply bg-color-1-n-m text-white;
        }
    }
}