//newstyle1: cssfile[to-basket_style1] scriptfile[to-basket_style1]

// to-basket (css, js)
+b.to-basket._icon
    form
        .form-item
            input.form-text(type="text" value="1")
        .form-actions
            input.form-submit(type="submit" value="В корзину")
// КОНЕЦ: to-basket (css, js)
