nav.menu
    ul.menu__list
        li.menu__item.menu__item-29
            a.menu__link(href="javascript://")
                span Элемент 1
        li.menu__item.menu__item-30.menu__item_active
            a.menu__link.is-active(href="javascript://")
                span Элемент 2
        li.menu__item.menu__item-31.menu__item_expanded
            a.menu__link(href="javascript://")
                span Элемент 3 expanded
            .submenu
                .submemu__inner
                    ul.submenu__list
                        li.submenu__item.submenu__item-34
                            a.submenu__link(href="javascript://")
                                span Элемент 1
                        li.submenu__item.submenu__item-35
                            a.submenu__link(href="javascript://")
                                span Элемент 2
                        li.submenu__item.submenu__item-36
                            a.submenu__link(href="javascript://")
                                span Элемент 3
        li.menu__item.menu__item-32.menu__item_collapsed
            a.menu__link(href="javascript://")
                span Элемент 4 collapsed
        li.menu__item.menu__item-33
            a.menu__link(href="javascript://")
                span Элемент 5