//newstyle1: cssfile[footer-contacts_style1] scriptfile[]

// footer-contacts
+b.footer-contacts
    +e.phones
        ul
            li
                a(href="tel:88000000000") 8 800 000-00-00
            li
                a(href="tel:88005555555") 8 800 555-55-55
            li
                a(href="tel:88007777777") 8 800 777-77-77
    +e.email
        a(href="mailto:company-mail@company.ru") company-mail@company.ru
    +e.address
        p Город компании, улица компании д.&nbsp;78, оф.&nbsp;230
        //+e.full-contacts
        //    a(href='#') Полная контактная информация
// КОНЕЦ: footer-contacts
