// checkout-details
+b.checkout-details
    +e.hd
        +e.title Сведения о заказе
        +e.view-cart
            a(href="#") Просмотреть заказ
    +e.cont
        +e.row_count
            +e.label Количество:
            +e.value 32 шт
        +e.row_total-price
            +e.label На сумму:
            +e.value 1 079 309₽
// КОНЕЦ: checkout-details
