//newstyle1: cssfile[teaser-node-product_style1] scriptfile[]
//newstyle1: cssfile[fields_style1] scriptfile[]

// teaser + teaser-node + teaser-node-product
.teaser.teaser-node.teaser-node-product.teaser-node-product-teaser-0
    include ../../../fields/field-field-image-oil
    include ../../../fields/field-field-price-teaser-0
    include ../../../fields/field-string-cat-num
    include ../../../fields/field-string-title
// КОНЕЦ: teaser + teaser-node + teaser-node-product

