mixin style(href)
    link(rel="stylesheet", href=href)

mixin script(src)
    script(src=src)

mixin btnLink(href, style, classes)
    - var style = (typeof style === 'underfined') ? "default" : style
    - var classes = (typeof classes === 'underfined') ? "default" : classes
    +b.A.btn(href=href, class=['_' + style, classes])
        span
            block

mixin btn(style, classes)
    - var style = (typeof style === 'underfined') ? "default" : style
    - var classes = (typeof classes === 'underfined') ? "default" : classes
    +b.BUTTON.btn(class=['_' + style, classes])
        block
