//newstyle1:  cssfile[filter_style1] scriptfile[filter_style1]

// filter
+b.filter
    +e.inner
        form#filter-catalog-form

            fieldset.fieldgroup.form-composite.form-item.form-wrapper
                legend
                    .fieldset-legend Бренд
                .fieldset-wrapper
                    .form-checkboxes
                        .form-item
                            input.checkbox#row1-checkbox-1(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-1")
                                | Ravenol
                                //+e.SPAN.presence 1
                        .form-item
                            input.checkbox#row1-checkbox-2(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-2")
                                | Castrol

                        .form-item
                            input.checkbox#row1-checkbox-3(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-3")
                                | Toyota
                        .form-item
                            input.checkbox#row1-checkbox-4(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-4")
                                | Chrysler
                        .form-item
                            input.checkbox#row1-checkbox-5(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-5")
                                | Shell
                        .form-item
                            input.checkbox#row1-checkbox-6(name="row1-checkbox", type="checkbox")
                            label(for="row1-checkbox-6")
                                | Comma
                        +e.other
                            div
                                .form-item
                                    input.checkbox#row1-checkbox-7(name="row1-checkbox", type="checkbox")
                                    label(for="row1-checkbox-7")
                                        | Comma
                                .form-item
                                    input.checkbox#row1-checkbox-8(name="row1-checkbox", type="checkbox")
                                    label(for="row1-checkbox-8")
                                        | Comma
                                .form-item
                                    input.checkbox#row1-checkbox-9(name="row1-checkbox", type="checkbox")
                                    label(for="row1-checkbox-9")
                                        | Comma
                                .form-item
                                    input.checkbox#row1-checkbox-10(name="row1-checkbox", type="checkbox")
                                    label(for="row1-checkbox-10")
                                        | Comma
                        +e.more
                            span показать все




            //fieldset.fieldgroup.form-composite.form-item.form-wrapper
            //    legend
            //        .fieldset-legend Нагрузка на ССУ
            //    .fieldset-wrapper
            //        .form-checkboxes
            //            .form-item
            //              input.checkbox#row2-checkbox-1(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-1")
            //                  | 7,5
            //                  +e.SPAN.presence 1
            //            .form-item
            //              input.checkbox#row2-checkbox-2(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-2")
            //                  | 8
            //                  +e.SPAN.presence 11
            //            .form-item
            //              input.checkbox#row2-checkbox-3(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-3")
            //                  | 9,5
            //                  +e.SPAN.presence 111
            //            .form-item
            //              input.checkbox#row2-checkbox-4(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-4")
            //                  | 10
            //                  +e.SPAN.presence 1
            //            .form-item
            //              input.checkbox#row2-checkbox-5(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-5")
            //                  | 11
            //                  +e.SPAN.presence 11
            //            .form-item
            //              input.checkbox#row2-checkbox-6(name="row2-checkbox", type="checkbox")
            //              label(for="row2-checkbox-6")
            //                  | 12.3
            //                  +e.SPAN.presence 111
            //fieldset.fieldgroup.form-composite.form-item.form-wrapper
            //    legend
            //        .fieldset-legend Цена, ₽
            //    .fieldset-wrapper
            //            .form-item
            //                input.checkbox#row2-checkbox-1(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-1")
            //                    | 7,5
            //                    +e.SPAN.presence 1
            //            .form-item
            //                input.checkbox#row2-checkbox-2(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-2")
            //                    | 8
            //                    +e.SPAN.presence 11
            //            .form-item
            //                input.checkbox#row2-checkbox-3(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-3")
            //                    | 9,5
            //                    +e.SPAN.presence 111
            //            .form-item
            //                input.checkbox#row2-checkbox-4(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-4")
            //                    | 10
            //                    +e.SPAN.presence 1
            //            .form-item
            //                input.checkbox#row2-checkbox-5(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-5")
            //                    | 11
            //                    +e.SPAN.presence 11
            //            .form-item
            //                input.checkbox#row2-checkbox-6(name="row2-checkbox", type="checkbox")
            //                label(for="row2-checkbox-6")
            //                    | 12.3
            //                    +e.SPAN.presence 111

            fieldset#edit-filter-engine-power--wrapper.fieldgroup.form-composite.form-item.form-wrapper
                legend
                    .fieldset-legend Колесная формула
                .fieldset-wrapper
                    .form-checkboxes
                        .form-item
                            input.checkbox#row3-checkbox-1(name="row3-checkbox", type="checkbox")
                            label(for="row3-checkbox-1")
                                | 6x4
                                +e.SPAN.presence 1
                        .form-item
                            input.checkbox#row3-checkbox-2(name="row3-checkbox", type="checkbox")
                            label(for="row3-checkbox-2")
                                | 6x6
                                +e.SPAN.presence 11
                        .form-item
                            input.checkbox#row3-checkbox-3(name="row3-checkbox", type="checkbox")
                            label(for="row3-checkbox-3")
                                | 6x4
                                +e.SPAN.presence 111
                        .form-item
                            input.checkbox#row3-checkbox-4(name="row3-checkbox", type="checkbox")
                            label(for="row3-checkbox-4")
                                | 6x4
                                +e.SPAN.presence 1
                        +e.other
                            div
                                .form-item
                                    input.checkbox#row3-checkbox-5(name="row3-checkbox", type="checkbox")
                                    label(for="row3-checkbox-5")
                                        | 6x6
                                        +e.SPAN.presence 11
                                .form-item
                                    input.checkbox#row3-checkbox-6(name="row3-checkbox", type="checkbox")
                                    label(for="row3-checkbox-6")
                                        | 6x4
                                        +e.SPAN.presence 111
                        +e.more
                            span показать все

              //fieldset.fieldgroup.form-composite.form-item.form-wrapper
              //    legend
              //        .fieldset-legend Мощность двигателя
              //    .fieldset-wrapper
              //        .form-checkboxes
              //            .form-item
              //                input.checkbox#row4-checkbox-5(name="row4-checkbox", type="checkbox")
              //                label(for="row4-checkbox-5")
              //                    | 230
              //                    +e.SPAN.presence 1
              //            .form-item
              //                input.checkbox#row4-checkbox-6(name="row4-checkbox", type="checkbox")
              //                label(for="row4-checkbox-6")
              //                    | 240
              //                    +e.SPAN.presence 11
              //            .form-item
              //                input.checkbox#row4-checkbox-7(name="row4-checkbox", type="checkbox")
              //                label(for="row4-checkbox-7")
              //                    | 275
              //                    +e.SPAN.presence 111

            fieldset#edit-filter-engine-power--wrapper2.fieldgroup.form-composite.form-item.form-wrapper
                legend
                    .fieldset-legend Тип шасси
                .fieldset-wrapper
                    .form-checkboxes
                        .form-item
                            input.checkbox#row5-checkbox-1(name="row5-checkbox", type="checkbox")
                            label(for="row5-checkbox-1")
                                | Урал-M
                                +e.SPAN.presence 1
                        .form-item
                            input.checkbox#row5-checkbox-2(name="row5-checkbox", type="checkbox")
                            label(for="row5-checkbox-2")
                                | Урал NEXT
                                +e.SPAN.presence 11
                        .form-item
                            input.checkbox#row5-checkbox-3(name="row5-checkbox", type="checkbox")
                            label(for="row5-checkbox-3")
                                | Урал капотные
                                +e.SPAN.presence 111
                        .form-item
                            input.checkbox#row5-checkbox-4(name="row5-checkbox", type="checkbox")
                            label(for="row5-checkbox-4")
                                | Урал-M
                                +e.SPAN.presence 1
                        +e.other
                            div
                                .form-item
                                    input.checkbox#row5-checkbox-5(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-5") Урал NEXT
                                .form-item
                                    input.checkbox#row5-checkbox-6(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-6") Урал капотные
                                .form-item
                                    input.checkbox#row5-checkbox-7(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-7") Урал-M
                                .form-item
                                    input.checkbox#row5-checkbox-8(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-8") Урал NEXT
                                .form-item
                                    input.checkbox#row5-checkbox-9(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-9") Урал кап
                                .form-item
                                    input.checkbox#row5-checkbox-10(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-10") Урал-M
                                .form-item
                                    input.checkbox#row5-checkbox-11(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-11") Урал NEXT
                                .form-item
                                    input.checkbox#row5-checkbox-12(name="row5-checkbox", type="checkbox")
                                    label(for="row5-checkbox-12") Урал кап
                        +e.more
                            span показать все

            //- fieldset.fieldgroup.form-composite.form-item.form-wrapper
            //-     +e.title Цена, руб
            //-     +e.content
            //-         .slider
            //-             .ui-slider-range
            //-                 .ui-slider-handle.ui-slider-handle__left
            //-                     span.value 1965000
            //-                 .ui-slider-handle.ui-slider-handle__right
            //-                     span.value 1965000

            fieldset.fieldgroup.form-composite.form-item.form-wrapper
                legend
                    .fieldset-legend Спальное место
                .fieldset-wrapper
                    .form-checkboxes
                        .form-item
                            input.radio#radio-berth-1(name="radio-berth", type="radio")
                            label(for="radio-berth-1") есть
                        .form-item
                            input.radio#radio-berth-2(name="radio-berth", type="radio")
                            label(for="radio-berth-2") нет

            +e.action.form-actions
                input.edit-submit(type="submit", name="op", value="Подобрать")
                input.edit-clear(type="submit", name="op", value="Очистить")
// КОНЕЦ: filter
