//newstyle1: cssfile[header-send_style1] scriptfile[]

// header-call-us (css, js)
.header-send
    .icon
    .info
        a.use-ajax(href='/form/custom-order' data-dialog-type='modal' data-dialog-options='{"width":600,"maxHeight":"auto","minHeight":"auto"}')
            span Отправить готовую заявку
// КОНЕЦ: header-call-us
