//newstyle1: cssfile[header-phones_style1] scriptfile[]

// header-phones (css)
.header-phones
    .icon
    .info
        a.phone-number(href='tel:+78005553241') 8 (800) 555-32-41
        a.use-ajax.phone-link(href='/form/call-me' data-dialog-type='modal' data-dialog-options='{"width":500,"maxHeight":"auto","minHeight":"auto"}') Перезвоните мне
// КОНЕЦ: header-phones (css)
