//newstyle1: cssfile[mobile-phone-btn_style1] scriptfile[]

// mobile-phone-btn (css)
+b.mobile-phone-btn
    +e.link.A(href='tel:+88000000000')
        span +7 (343) 214-41-42
// КОНЕЦ: mobile-phone-btn (css)
