+b.UL.menu.menu-footer.menu-level-0
    +e.item
        +e.A.link(href='#') Каталог
    +e.item
        +e.A.link(href='#') Спецпредложения
    +e.item
        +e.A.link(href='#') Электронные каталоги
    +e.item
        +e.A.link(href='#') Доставка
    +e.item
        +e.A.link(href='#') Гарантии
    +e.item
        +e.A.link(href='#') Оплата и скидки