+b.menu.menu-footer.footer__menu
    +e.UL.list
        +e.item
            +e.A.link(href='#') Каталог
        +e.item
            +e.A.link(href='#') В наличии
        +e.item
            +e.A.link(href='#') Доставка и оплата
        +e.item
            +e.A.link(href='#') О компании
        +e.item
            +e.A.link(href='#') Контакты