//newstyle1: cssfile[header-login_style1] scriptfile[]

// header-cart
a.header-login(href="/login")
    .icon
        include ../../../../node_modules/@ant-design/icons-svg/inline-svg/outlined/user.svg
    .info
        .name Аккаунт
        //.price
        //    | 1 000 000
        //    span.rub p
// КОНЕЦ: cart-block
