//newstyle1: cssfile[block-menu-order_style1] scriptfile[]

// block + block-html + block-menu-order
+b.block.block-html.block-menu-order
    +e.content
        include ../../../components/menu/menu-orders

// КОНЕЦ: block + block-html + block-menu-order
