
//newstyle1: cssfile[cart-block_style1] scriptfile[]

// cart-block
+b.cart-block.A(href="/cart")
    +e.icon
        +e.count 10
    +e.info
        +e.name Корзина
        +e.price
            | 1 000 000
            span.rub p
// КОНЕЦ: cart-block
