// cart-btn
+b.cart-btn
    +e.print
        a(href="javascript://", onclick="print()")
            span Распечатать сведения о заказе
    +e.INPUT.submit-checkout(value='Оформить заказ', type="button")
// КОНЕЦ: cart-btn
