@import "../../../../styles/helpers/helpers";

.block-features {
    .block__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(280px - 1rem), 1fr));
        grid-gap:  1rem;
    }
}