//newstyle1: cssfile[block-consumables_style1] scriptfile[]

.block.block-html.block-consumables
    .block__header
        H2.title Расходники
    .block__content
        include ../../component/term/teaser-term-product-teaser-2