
//newstyle1: cssfile[block-related_style1] scriptfile[block-related_style1]

// block + block-html + block-related
+b.block.block-html.block-related
    +e.header
        +e.H2.title С этим товаром покупают
    +e.content
        .block__slider
            .block__slider-wrapper
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
                include ../../component/node/node-product/teaser-node
        include ../../arrows/arrows
// КОНЕЦ: block + block-html + block-related
