//newstyle1: cssfile[footer-form_style1] scriptfile[]

#edit-flexbox.webform-flexbox.js-webform-flexbox.js-form-wrapper.form-wrapper(data-drupal-selector='edit-flexbox')
    .webform-flex.webform-flex--1
        .webform-flex--container
            .js-form-item.form-item.js-form-type-textfield.form-item-phone.js-form-item-phone
                input#edit-phone--2.form-text.required(data-drupal-selector='edit-phone' type='text' name='phone' value='' size='60' maxlength='255' required='required' placeholder="Телефон или E-mail" aria-required='true')

    .webform-flex.webform-flex--0
        .webform-flex--container
            #edit-actions--3.form-actions.webform-actions.js-form-wrapper.form-wrapper(data-drupal-selector='edit-actions')
                input#edit-actions-submit--2.webform-button--submit.btn.btn-primary.js-form-submit.form-submit(data-drupal-selector='edit-actions-submit-2' data-disable-refocus='true' type='submit' name='op' value='Подписаться')